{% extends 'base.html' %}

{% block title %}
    All Articles | {{ block.super }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
            <h1>Articles</h1>
            <h4>Total Articles : {{ object_list|length }}</h4>
                <ul class="list-group">
                    {% for article in object_list %}
                        <li class="list-group-item"><a href="{{ article.get_absolute_url }}">{{article.id}}</a>&emsp; &xrarr; &emsp;<a href="{{ article.get_absolute_url }}">{{article.title}}</a>
                            <br>&emsp; Created in : {{ article.added | timesince }}
                            &emsp; By : {{ article.author }} &emsp; Category : <a href="search_by_categories/{{ article.category | safe }}">{{ article.category }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="pagination"> <!-- page_request == the name of page that i want like:page -->
                    <span class="step-links"> <!-- objects == the number of pages -->
                        {% if objects.has_previous %}
                            <a href="?{{ page_request }}={{ objects.previous_page_number }}
                                {% if request.GET.search_post %}
                                    &search_post={{ request.GET.search_post }}
                                {% endif %}">previous
                            </a>
                        {% endif %}

                        <span class="current">
                            Page {{ objects.number }} of {{ objects.paginator.num_pages }}.
                        </span>

                        {% if objects.has_next %}
                            <a href="?{{ page_request }}={{ objects.next_page_number }}
                                {% if request.GET.search_post %}
                                    &search_post={{ request.GET.search_post }}
                                {% endif %}">next
                            </a>
                        {% endif %}
                    </span>
                </div>

            </div>
            <div class="col-sm-4">
                <h1>Articles by Category :</h1>
{#                <a href="{{ category.get_absolute_categories_url }}">{{ category }} | {{ category.number_of_articles }}</a>#}
                <select class="btn btn-default dropdown-toggle"
                        name="categories"
                        style="margin-top: 29px; min-width: 260px;"
                        onchange="{% include 'includes/js/change_category.js' %}">
                    <option value="">Select Category</option>
                    {% for category in categories %}
                        <option
                            {% if category.get_absolute_categories_url == request.path %}
                                selected
                            {% endif %}
                            value="{{ category.get_absolute_categories_url }}">
                            {{ category }} | {{ category.number_of_articles }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>


{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-sm-8">#}
{#                <div class="pagination"> <!-- page_request == the name of page that i want like:page -->#}
{#                    <span class="step-links"> <!-- objects == the number of pages -->#}
{#                        {% if objects.has_previous %}#}
{#                            <a href="?{{ page_request }}={{ objects.previous_page_number }}#}
{#                                {% if request.GET.search_post %}#}
{#                                    &search_post={{ request.GET.search_post }}#}
{#                                {% endif %}">previous#}
{#                            </a>#}
{#                        {% endif %}#}
{##}
{#                        <span class="current">#}
{#                            Page {{ objects.number }} of {{ objects.paginator.num_pages }}.#}
{#                        </span>#}
{##}
{#                        {% if objects.has_next %}#}
{#                            <a href="?{{ page_request }}={{ objects.next_page_number }}#}
{#                                {% if request.GET.search_post %}#}
{#                                    &search_post={{ request.GET.search_post }}#}
{#                                {% endif %}">next#}
{#                            </a>#}
{#                        {% endif %}#}
{#                    </span>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}