form.form-group textarea{
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.comment_reply{
    display: none;
}